<div class="col-md-4 col-md-offset-4">

  <h1> 新建邮件 </h1>

  <hr>

  <%= form_for @letter_text do |f| %>
    <!-- <p>
      <% User.all.each do |u| %>
        <input type="checkbox" value="<%= u.id %>">
        <%= u.name %>
      <% end %>
    </p> -->

    <p>
      <%= f.label "收件人" %>
      <!-- <% users_array = User.all.map { |user| [user.name, user.id] } %>
      <%= options_for_select(users_array) %> -->

      <%#= options_from_collection_for_select(User.all, :id, :name) %>
      <%#= collection_select(:person, :city_id, City.all, :id, :name) %>
      <%#= collection_select(:user, :rec_id01, User.all, :id, :name) %>


      <%= select_tag :rec_id, options_for_select(User.all.collect{|a| [a.name, a.id]})%>
    </p>

    <p>
      <%= f.label "发件人" %>
      <%= select_tag :send_id, options_for_select(User.all.collect{|a| [a.name, a.id]})%>
    </p>

    <p>
      <%= f.label "标题" %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label "内容" %>
      <%= f.text_area :text %>
    </p>

    <p>
    <%= f.submit "提交" %>
    </p>

    <%= link_to "返回", letter_texts_path %>
  <% end %>
</div>
