<div class="col-md-4 col-md-offset-4">

  <h1> 新建邮件 </h1>

  <hr>

  <%= form_for @letter_text do |f| %>
    <p>
      <%= f.label "收件人" %>
      <!-- 用户.多选框 -->
      <%= select_tag 'rec_id[]', options_for_select(@users.collect{|a| [ a["name"], a["id"] ]}), class: "form-control", multiple: "multiple"%>
    </p>

    <p>
      <%= f.label "发件人" %>
      <!-- 用户.单选框 -->
      <%= select_tag 'send_id[]', options_for_select(@users.collect{|a| [ a["name"], a["id"] ]}), class: "form-control"%>
    </p>

    <p>
      <%= f.label "标题" %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label "内容" %>
      <%= f.text_area :text %>
    </p>

    <p>
    <%= f.submit "提交", data: { confirm: "确认发送?" } %>
    </p>

    <%= link_to "返回", letter_texts_path %>
  <% end %>
</div>

<script>
// 多选框样式
$("#rec_id_").select2({
    theme: "bootstrap"
})
</script>
