<%= form_for @notice do |f| %>
  <p>
    <%= f.label "部门分类" %>
    <%= f.select :notice_item_id, options_for_select(NoticeItem.all.collect{|a| [a.department, a.id]})%>
  </p>

  <p>
    <%= f.label "标题" %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "通告内容" %>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label "通知类型" %>
    <%= f.select :class_type, options_for_select([["草稿","草稿"],["全员通告","全员通告"],["部门通告","部门通告"]])%>
  </p>

  <p>
    <%= f.label " 通知状态" %>
    <%= f.select :notice_state, options_for_select([["审核中 ","审核中"],["审核通过","审核通过"],["准备发布","准备发布"],["已发布","已发布"],["下架","下架"]])%>
  </p>

  <p>
  <%= f.submit "提交" %>
  </p>
<% end %>

<%= link_to "返回", notices_path %>
