<h1 class="text-center"> 通知审核后台 </h1>
<p>
<%= link_to "新建通告", new_notice_path %>
</p>

<p>
<%= link_to "通告审查", censors_path %>
</p>

<table class="table table-bordered table-hover">
  <tr class="text-info">
    <th>标题</th>
    <th>部门</th>
    <th>通知类型</th>
    <th>通知状态</th>
    <th>发布状态</th>
    <th>操作</th>
  </tr>

  <% @notices.each do |f| %>
    <tr>
      <td><%= link_to "#{f.title}", notice_path(f) %></td>
      <td><%= f.notice_item.department %></td>
      <td><%= f.class_type %></td>
      <td><%= f.notice_state %></td>
      <td><%= %></td>
      <%#= link_to("#{book.book_state}", book_update_books_path(:id => book.id), method: :post , :class => "btn btn-xs btn-default") %>
      <td>
        <%= link_to "编辑", edit_notice_path(f) %>
        <%= link_to "删除", notice_path(f),
            method: :delete, data: { confirm: "确认删除？" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @notices, renderer: BootstrapPagination::Rails %>
</div>
