<h1 class="text-center"> 通告 </h1>
<h3 class="text-center"> <%= @notice.title %> </h1>

<div class="center">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= @notice.text %>
  </div>

  <div class="col-md-4 col-md-offset-4 text-center">
    <%= link_to "评论", new_notice_post_path(@notice) %>
  </div>

  <div class="col-md-4 col-md-offset-4 text-center">
    <%= link_to "返回", notices_path %>
  </div>
  <div class="col-md-4 col-md-offset-4 text-center">
    评论内容
  </div>
  <div class="col-md-4 col-md-offset-4 text-center">
    <% @posts.each do |post| %>
      <%= post.text %>
    <% end %>
  </div>
</div>
