<div class="col-md-4 col-md-offset-4 text-center">
  <h1> 通告 Show </h1>

  <hr>

  <h3 > <%= @notice.title %> </h1>
  <p>
    内容: <%= @notice.text %>
  </p>

  <p>
    部门: <%= @notice.notice_item.department %>
  </p>

  <p>
    <%= link_to "返回", notices_path %>
  </p>

  <p>
    <%= link_to "评论", new_notice_post_path(@notice) %>
  </p>

  <h2>所有评论</h2>

  <hr>

  <table class="table table-striped">
  <% if @notice.notice_state == "已发布" %>
    <% @posts.each do |post| %>
    <p>
      <%= post.text %>
      <%= link_to "删除", notice_post_path(post),
          method: :delete, data: { confirm: "确认删除？" } %>
    </p>
    <% end %>
  <% end %>
  </table>

  <div class="text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
